<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perpustakaan</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #0c0101;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #58e208;
        }
    </style>
</head>

<body>

    <h2>pinjam buku</h2>
    <table>
        <tr>
            <th>data peminjam</th>
            <th>Judul Buku</th>
            <th>Pengarang</th>
            <th>Tahun Terbit</th>
            <th>Jumlah Halaman</th>
        </tr>
        <tr>
            <td>taufik zakaria</td>
            <td>7 petala cinta</td>
            <td>ahmad tz</td>
            <td>1997</td>
            <td>223</td>
        </tr>
        <tr>
            <td>rohman</td>
            <td>99 kali rindu</td>
            <td>fahrul</td>
            <td>1925</td>
            <td>180</td>
        </tr>
        <tr>
            <td>royhan</td>
            <td>dalam mihrob cinta</td>
            <td>ibnu majid</td>
            <td>1960</td>
            <td>281</td>
        </tr>
    </table>
    <h2>daftar anggota</h2>
    <table>
        <tr>
            <th>nama anggota</th>
            <th>jabatan</th>
            <th>alamat</th>
            <th>no hp</th>
            <th>email</th>
        </tr>
        <tr>
            <td>sahrul</td>
            <td>staf pustakawan</td>
            <td>nyupelle</td>
            <td>085762838845</td>
            <td>sahrul@gmail.com</td>
        </tr>
        <tr>
            <td>rois</td>
            <td>keamanan pustakawan</td>
            <td>angsokah</td>
            <td>0875353949621</td>
            <td>rois@gmail.com</td>
        </tr>
        <tr>
            <td>rofek</td>
            <td>sekretaris pustakawan</td>
            <td>tambek</td>
            <td>0865544534346</td>
            <td>rofek@gmail.com</td>
        </tr>
    </table>

</body>

</html>